body {
    background-image: url('../photo/wizarding-world.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*--------------------*/
/*navbar*/

.navbar {
    background-color: rgb(80, 76, 76);
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 25px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20pt;
    font-weight: 500;
    color: gray;
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar ul li a:hover {
    border: 2px solid gray;
    border-bottom: none;
    background-color: white;
    color: #000;
}

/*--------------------*/
/*content*/

.grid-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 20px;
    position: relative;
}

.sidebar {
    grid-column: 2 / 4;
    padding: 20px;
    border: 1px solid rgb(80, 76, 76);
    border-radius: 20px;
    background-color: rgb(80, 76, 76);
    min-height: 80vh;
}

.main-content {
    grid-column: 4 / 10;
    padding: 20px;
    border: 1px solid rgb(80, 76, 76);
    border-radius: 20px;
    background-color: rgb(80, 76, 76);
    min-height: 80vh;
}

.button-container {
    width: 100%;
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}

.button-container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.2s ease, left 0.2s ease;
}

.button-container:hover::after {
    width: 100%;
    left: 0;
}

.menu-button {
    display: inline-block;
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: gray;
    text-decoration: none;
    font-size: 20pt;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

.menu-button:hover {
    border: 2px solid gray;
    border-bottom: none;
    background-color: white;
    color: #000;
}

.active {
    border: 2px solid gray;
    border-bottom: none;
    background-color: white;
    color: #000 !important;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
}

.dishes-container {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    color: rgb(120, 49, 49);
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.tasty-dishes {
    width: 100%;
    height: auto;
    filter: contrast(1.1) brightness(0.9) saturate(1.1);
    border-radius: 5px;
}

.tasty-dishes:hover {
    filter: contrast(1.2) brightness(0.8) saturate(1.2);
}

.logo {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li td {
    height: 3vh;
}

ul li td a {
    color: rgb(28, 28, 191)
}

ul li td a:hover {
    text-decoration: underline;
}

.circulus-img {
    border-radius: 50%;
}

.center-table {
    margin: 0 auto;
    width: 60%;
}

.center {
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
}

.map {
    margin-top: 20px;
    width: 100%;
}

.map table {
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.space {
    height: 2vh;
}

.map table .logo-container {
    width: 60%;
    margin: auto;
}

.map table .logo-container .raven-logo {
    width: 20%;
}

.map table .logo-container .location {
    width: 35%;
}

.map table .logo-container .park {
    width: 45%;
}

.map .map-container {
    padding: 0;
    padding-right: 4px;
}

.map .map-container img {
    border: 2px solid gray;
    border-radius: 20px;
}

.map a {
    color: rgb(28, 28, 191)
}

.map a:hover {
    text-decoration: underline;
}

/*--------------------*/
/*change-image*/

.image-gallery {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.image-gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image-gallery img.active-img {
    opacity: 1;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dots span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.dots span.active-dot {
    background-color: white;
}

/*--------------------*/
/*add-item*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    display: none;
}

.navbar.blur, .grid-container.blur {
    filter: blur(5px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.modal, 
.modal-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid gray;
    border-radius: 5px;
}

.modal form {
    display: none;
}

.modal .quantity {
    width: 100%;
}

.modal .quantity td {
    text-align: center;
}

.modal textarea {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid gray;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

.button {
    background-color: gray;
    border: 2px solid white;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #888888;
}

.button:hover {
    border: 2px solid gray;
    background-color: white;
    color: gray;
}

.move-right {
    animation: moveRight 1s forwards;
}

@keyframes moveRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(260px);
    }
}
  
/*--------------------*/
/*cart*/

.item-field {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.item-field textarea {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid gray;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

.item {
    grid-column: 1 / 4;
    text-align: center;
}

.info {
    grid-column: 4 / 10;
}

.info textarea {
    height: 40%;
}

.info table {
    height: 60%;
    width: 100%;
    text-align: center;
}

.info table td {
    border-radius: 5px;
    border: 2px solid gray;
    background-color: white;
}

.data {
    height: 70%;
}

.tit {
    height: 30%;
    font-weight: bold;
}

.tit .note-field {
    width: 60%;
}

.tit .quan-field {
    width: 10%;
}

.tit .price-field {
    width: 10%;
}

.tit .sub-field {
    width: 20%;
}

.check-box {
    grid-column: 10 / 12;
    position: absolute;
    left: 30%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
}

.check-box input {
    position: relative; 
}

.check-box input::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c0c0c0; 
}

.check-box input:checked::before {
    background-color: rgb(206, 79, 79);
}

.payment-field {
    display: grid;
    position: relative;
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

.main-content .button {
    position: relative;
    left: 38%;
    margin-bottom: 20px;
}

.main-content form {
    display: none;
}

/* For screens with width below 719px*/
@media only screen and (max-width: 719px){
    .sidebar {
        position: fixed;
        left: -400px;
        transition: left 0.5s ease;
        z-index: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .show-sidebar {
        left: 0;
    }

    .main-content {
        grid-column: 1 / 12;
    }

    .dishes-container {
        width: 160px;
    }

    .navbar ul li a {
        font-size: 10pt;
        padding: 4px 9px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .menu-button {
        font-size: 10pt;
        padding: 4px 9px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .center-table {
        font-size: 10pt;
        width: 100%;
        padding-left: 80px;
    }

    .logo {
        font-size: 10pt;
    }

    .logo img {
        width: 20%;
    }

    .navbar img {
        width: 13%;
    }

    .center {
        font-size: 10pt;
        max-width: 600px;
    }

    .image-gallery {
        max-height: 20%;
    }

    .info textarea {
        font-size: 10pt;
    }

    .info table {
        font-size: 10pt;
    }
}
  
/* For screens with width between 720px and 1365px */
@media only screen and (min-width: 720px) and (max-width: 1365px) {
    .sidebar {
        grid-column: 1 / 4;
    }

    .main-content {
        grid-column: 4 / 12;
    }

    .dishes-container {
        width: 109px;
    }

    .navbar ul li a {
        font-size: 12pt;
        padding: 6px 11px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .menu-button {
        font-size: 12pt;
        padding: 6px 11px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .center-table {
        font-size: 10pt;
        width: 100%;
        padding-left: 35px;
    }

    .logo {
        font-size: 10pt;
    }

    .logo img {
        width: 20%;
    }

    .navbar img {
        width: 15%;
    }

    .center {
        font-size: 10pt;
        max-width: 405px;
    }

    .image-gallery {
        max-height: 20%;
    }

    .map table .logo-container {
        font-size: 10pt;
        width: 100%;
    }

    .map table .logo-container .location {
        width: 45%;
    }

    .map table .logo-container .park {
        width: 35%;
    }

    .info textarea {
        font-size: 10pt;
    }

    .info table {
        font-size: 10pt;
    }
}

/* For screens with width between 1366px and 1919px */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    .dishes-container {
        width: 185px;
    }

    .navbar ul li a {
        font-size: 14pt;
        padding: 8px 13px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .menu-button {
        font-size: 14pt;
        padding: 8px 13px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .center-table {
        font-size: 12pt;
        width: 85%;
        padding-left: 55px;
    }

    .logo {
        font-size: 12pt;
    }

    .logo img {
        width: 20%;
    }

    .navbar img {
        width: 7%;
    }

    .center {
        font-size: 12pt;
        max-width: 750px;
    }

    .image-gallery {
        max-height: 25%;
    }

    .map table .logo-container {
        font-size: 12pt;
        width: 60%;
    }

    .map table .logo-container .location {
        width: 45%;
    }

    .map table .logo-container .park {
        width: 35%;
    }

    .info textarea {
        font-size: 12pt;
    }

    .info table {
        font-size: 12pt;
    }
}

/* For screens with width 1920px and 2047 */
@media only screen and (min-width: 1920px) and (max-width: 2047px) {
    .dishes-container {
        width: 270px;
    }

    .navbar ul li a {
        font-size: 16pt;
        padding: 10px 15px;
    }

    .menu-button {
        font-size: 16pt;
        padding: 10px 15px;
    }

    .center-table {
        font-size: 16pt;
        width: 90%;
        padding-left: 105px;
    }

    .logo {
        font-size: 16pt;
    }

    .logo img {
        width: 20%;
    }

    .navbar img {
        width: 5%;
    }

    .center {
        font-size: 16pt;
        max-width: 1000px;
    }

    .image-gallery {
        max-height: 30%;
    }

    .map table .logo-container {
        font-size: 16pt;
        width: 80%;
    }

    .map table .logo-container .location {
        width: 45%;
    }

    .map table .logo-container .park {
        width: 35%;
    }

    .info textarea {
        font-size: 16pt;
    }

    .info table {
        font-size: 16pt;
    }
}

/* For screens with width between 2048px and 2559px */
@media only screen and (min-width: 2048px) and (max-width: 2559px) {
    .grid-container {
        margin-top: 170px;
    }

    .dishes-container {
        width: 285px;
    }

    .navbar ul li a {
        font-size: 18pt;
        padding: 13px 18px;
    }

    .menu-button {
        font-size: 18pt;
        padding: 13px 18px;
    }

    .center-table {
        font-size: 18pt;
        width: 90%;
        padding-left: 105px;
    }

    .logo {
        font-size: 18pt;
    }

    .logo img {
        width: 20%;
    }

    .navbar img {
        width: 5%;
    }

    .center {
        font-size: 18pt;
        max-width: 1100px;
    }

    .image-gallery {
        max-height: 35%;
    }

    .map table .logo-container {
        font-size: 18pt;
        width: 80%;
    }

    .map table .logo-container .location {
        width: 45%;
    }

    .map table .logo-container .park {
        width: 35%;
    }

    .info textarea {
        font-size: 18pt;
    }

    .info table {
        font-size: 18pt;
    }
}


/* For screens with width between 2560px and 3839px */
@media only screen and (min-width: 2560px) and (max-width: 3839px) {
    .grid-container {
        margin-top: 210px;
    }

    .dishes-container {
        width: 365px;
    }

    .navbar ul li a {
        font-size: 20pt;
        padding: 15px 20px;
    }

    .menu-button {
        font-size: 20pt;
        padding: 15px 20px;
    }

    .center-table {
        font-size: 20pt;
        width: 100%;
        padding-left: 250px;
    }

    .logo {
        font-size: 20pt;
    }

    .logo img {
        width: 20%;
    }

    .navbar img {
        width: 5%;
    }

    .center {
        font-size: 20pt;
        max-width: 1200px;
    }

    .image-gallery {
        max-height: 40%;
    }

    .map table .logo-container {
        font-size: 20pt;
        width: 70%;
    }

    .map table .logo-container .location {
        width: 45%;
    }

    .map table .logo-container .park {
        width: 35%;
    }

    .info textarea {
        font-size: 20pt;
    }

    .info table {
        font-size: 20pt;
    }
}


/* For screens with width 3840px and above */
@media only screen and (min-width: 3840px) {
    .grid-container {
        margin-top: 320px;
    }

    .dishes-container {
        width: 550px;
    }

    .navbar ul li a {
        font-size: 25pt;
        padding: 20px 25px;
    }

    .menu-button {
        font-size: 25pt;
        padding: 20px 25px;
    }

    .center-table {
        font-size: 30pt;
        width: 100%;
        padding-left: 400px;
    }

    .logo {
        font-size: 30pt;
    }

    .logo img {
        width: 20%;
    }

    .navbar img {
        width: 5%;
    }

    .center {
        font-size: 25pt;
        max-width: 1500px;
    }

    .image-gallery {
        max-height: 60%;
    }

    .map table .logo-container {
        font-size: 25pt;
    }

    .map table .logo-container .location {
        width: 45%;
    }

    .map table .logo-container .park {
        width: 35%;
    }

    .info textarea {
        font-size: 25pt;
    }

    .info table {
        font-size: 25pt;
    }
}





  