{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Detail</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'src/myStyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"></script>
    <script src="{% static 'src/myScript.js' %}"></script>
  </head>

<body>
  <div class="order">
    <h1>Order Details</h1>

    <table>
        <tr>
        <th>Customer Name:</th>
        <td>{{ order.customer.name }}</td>
        </tr>
        <tr>
        <th>Table Number:</th>
        <td>{{ order.table.number }}</td>
        </tr>
        <tr>
        <th>Order Time:</th>
        <td>{{ order.order_time }}</td>
        </tr>
        <tr>
        <th>Is Paid:</th>
        <td id="is_paid">{% if order.is_paid %}Yes{% else %}No{% endif %}</td>
        </tr>
    </table>

    <h2>Order Items</h2>

    {% if order_items %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Note</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order_items %}
            <tr>
              <td>{{ item.menu.name }}</td>
              <td>{{ item.note }}</td>
              <td>{{ item.menu.price }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.quantity }} * {{ item.menu.price|floatformat:2 }} =  {{ item.sub_total_cost }}</td>
              <td class="status" id="{{ item.status.id }}">{{ item.status.name }}</td>
              {% if item.status.id == 1 %}
                <td><button id="{{ item.id }}" class="update">Update Item</button></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">Total:</th>
            <td>{{ order.total_cost }} $</td>
          </tr>
        </tfoot>
      </table>
    {% else %}
      <p>No items found for this order.</p>
    {% endif %}
    <table class="btn-field">
      <tr>
        <td><button class="button" id="add">Add More Items</button></td>
        <td><button class="button" id="complete">Complete Order</button></td>
      </tr>
    </table>
  </div>
</body>
</html>