<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
  
{% block content %}
<h1>Update Menu</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
    <label for="menu_item">Menu Item:</label>
    <select name="menu_item_id" id="menu_item" class="form-control">
        {% for item in menu_items %}
        <option value="{{ item.id }}" data-description="{{ item.description }}" data-price="{{ item.price }}" data-is_available="{{ item.is_available }}">{{ item.name }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="form-group">
    <table>
        <td>
            <label for="item_description">Desciption:</label>
        </td>
        <td>
            <textarea name="item_description" id="item_description" rows="4" cols="50" readonly>{{ menu_items.0.description }}</textarea>
        </td>
    </table>
    <label for="price">Price:</label>
    <input type="number" name="price" id="price" class="form-control" value="{{ menu_items.0.price }}" readonly>
    <br>
    <label for="is_available">Is Available:</label>
    <select name="is_available" id="is_available" class="form-control">
        <option>True</option>
        <option>False</option>
    </select>
    </div>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}

</body>

<script>
    $(document).ready(function() {
        $('#is_available').val($('#menu_item').find(':selected').data('is_available'));
        $('#menu_item').change(function() {
            description = $(this).find(':selected').data('description');
            price = $(this).find(':selected').data('price');
            is_available = $(this).find(':selected').data('is_available');
            $('#item_description').text(description);
            $('#price').val(price);
            $('#is_available').val(is_available);
        });
    });
</script>

</html>