{% load static %} 

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'src/myStyle.css' %}">
    <script src="{% static 'src/myScript.js' %}"></script>
</head>

<body>
    <div class="navbar">
        <a href="#">
        <img src='{% static "photo/logo.jpg" %}' alt="Logo" width="100px" height="auto">
        </a>
        <ul>
            <li><a id="photo">Photo</a></li>
            <li><a id="menu">Menu</a></li>
            <li><a id="about">About</a></li>
            <li><a id="contact">Contact</a></li>
            <li><a id="card">Card</a></li>
        </ul>
    </div>
    <div class="grid-container">
        <div class="sidebar">
            {% for type in menu_types %}
                <div class="button-container">
                    <a class="menu-button" id="{{ type.id }}">{{ type.name }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="main-content">
            {% for item in menu_items %}
                    <table class="dishes-container">
                        <tr>
                            <td>
                                <img class="tasty-dishes" src="{% static 'photo/' %}{{ item.photo }}" alt="Example image">
                            </td>
                        </tr>
                        <tr>
                            <td>{{ item.name }}</td>
                        </tr>
                    </table>
            {% endfor %}
        </div>
    </div>      
</body>

<script>
    var current_type_id = "{{ current_type_id }}";
    var menu_items = "{{ menu_items }}"
</script>

</html>