{% load static %} 

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'src/myStyle.css' %}">
    <script src="{% static 'src/myScript.js' %}"></script>
</head>

<body>
    <div class="modal">
        <div class="modal-content"></div>
        <table class="quantity">
            <td class="add">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>                  
            </td>
            <td class="quantity-field"></td>
            <td class="minus">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>            
            </td>
        </table>
        <textarea placeholder="Note"></textarea>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_name" value="form1">
            <input type="number" id="item-id" name="item-id" class="form-control"/>
            <input type="number" id="quantity" name="quantity" class="form-control"/>
            <input type="text" id="note" name="note" class="form-control"/>    
        </form>
        <button class="button">Update</button>
    </div>
    <div class="overlay"></div>
    <div class="navbar">
        <img class="circulus-img" src='{% static "photo/logo2.jpg" %}' alt="Logo" width="100px" height="auto">
        <ul>
            <li><a id="photo">Photo</a></li>
            <li><a id="menu">Menu</a></li>
            <li><a id="about">About</a></li>
            <li><a id="contact">Contact</a></li>
            <li><a id="cart">Cart</a></li>
        </ul>
    </div>
    <div class="grid-container">
        <div class="main-content">
            {% for item in temp_items %}
                <div class="item-field"> 
                    <div class="item" id="i-{{ item.id }}">
                        <table class="dishes-container"  id="{{ item.id }}" data-quantity="{{ item.quantity }}" data-note="{{ item.note }}">
                            <tr>
                                <td>
                                    <img class="tasty-dishes" src="{% static 'photo/' %}{{ item.menu.photo }}" alt="Example image">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ item.menu.name }}</td>
                            </tr>
                        </table>                             
                    </div>
                    <div class="info">
                        <textarea placeholder="Description" readonly>{{ item.menu.description }}</textarea>
                        <table>
                            <tr class="tit">
                                <td class="note-field">Note</td>
                                <td class="quan-field">Quantity</td>
                                <td class="price-field">Price</td>
                                <td class="sub-field">Subtotal</td>
                            </tr>
                            <tr class="data">
                                <td>{{ item.note }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.menu.price }}</td>
                                <td class="sub-field">{{ item.sub_total_cost }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="check-box">
                        <input type="checkbox"/>
                    </div>
                </div>
            {% endfor %}
            <div class="payment-field">
                <h1>Total Cost: <span>0</span>$</h1>
            </div>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_name" value="Confirmed">
            </form>
            <button class="button">Confirm</button>
        </div>
    </div>   
</body>

<script>
    var current_type_id = "{{ current_type_id }}";
    var order_id = "{{ order.id }}"
    var temp_items = "{{ temp_items }}"
</script>

</html>